html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Grandstander', cursive;

  line-height: 1.5;

  background-image: url('./images/world.png');
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #ffffff;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 15px;
  margin-bottom: 24px;
}

.country-card {
  display: flex;
  justify-content: center;
  font-size: 28px;
}

.country-card__title {
  text-align: center;
  font-size: 42px;
}

.country-card__list {
  margin-right: 50px;
}

.country-card__language {
  padding: 0;
  margin: 0;
}

.country-card__language li {
  margin-left: 30px;
}

.list-countries {
  font-size: 25px;
  color: #ffffff;
}

p {
  margin: 0;
}
